@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.enova-table {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    width: auto;
    overflow: auto;
    display: block;
    margin: inherit !important;
    padding: inherit !important;
    border: inherit !important;
    font-weight: inherit !important;
    font-style: inherit;!important
    font-size: inherit !important;
    vertical-align: middle !important;
    line-height: 1.1em !important;

}
table.enova-table th {
    vertical-align: middle !important;
}

 table.enova-table tfoot td {
     vertical-align: middle !important;
     text-align: left;
     padding-left: 15px;
 }





table.enova-table { border-collapse: separate !important; border-spacing: 3px !important; }


.enova-table tr.h50 th {
    height: 50px;
}
.enova-table .w8 {
    width: 560px;
}
.enova-table .w7 {
    width: 400px;
}
.enova-table .w6 {
    width: 290px;
}
.enova-table .w5 {
width: 260px;
    }
.enova-table .w4 {
    width: 198px;
}
.enova-table .w3 {
    width: 160px;
}
.enova-table .w2 {
    width: 122px;
}

.enova-table .w1 {
    width: 88px;
}
tr.blue td{
    background-color: #d3eff9;
}
.enova-table th {
    background-color: rgb(98, 195, 208);
    font-weight: normal;
    color: white;
    text-align: center;
    width: 54px;
    height: 26px;
    padding: 2px;
    text-align: center;
    font-size: 11px;
    height: 36px;
    /*-webkit-transition:all  0.3s ease-out;*/
    /*transition:all  0.3s ease-out;*/

}
.enova-table td {
    background-color: #f7f7f8;
    color: #666666;
    width: 54px;
    height: 26px;
    padding: 2px;
    text-align: center;
    font-size: 11px;
    height: 21px;
    /*-webkit-transition:all  0.3s ease-out;*/
    /*transition:all  0.3s ease-out;*/
    letter-spacing: -1px;
}
.enova-table th p, .enova-table td p{
   margin: 0px;
    padding: 2px;
    line-height: 1em !important;

}
.enova-table th b, .enova-table th b {
    font-weight: 600;
}
tr.v-top td, td.v-top{
    vertical-align: top ;
}
tr.v-middle td, td.v-middle{
    vertical-align: middle !important;
}

.silver.header, .silver.header2{
    background-color: #d5d7d6 !important;
}
.gold.header, .gold.header2 {
    background-color: #f7e777 !important;
}
.platinium.header, .platinium.header2 {
    background-color: #d4e9ee !important;
}

.silver {
    background-color: #f3f3f3 !important;
}
.gold {
    background-color: #fcf8d1 !important;
}
.platinium {
    background-color: #f3f9f9 !important;
}


.enova-table tfoot td ul li{
   line-height: 1.2em !important;
    text-align: left !important;

}

.enova-table ul {
    list-style: none !important;
    margin-left: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
.enova-table ul li:before {
    display: inline-block !important;
    content: "-" !important;
    width: 1em !important;
    margin-left: -1em !important;
}
.enova-table .h-left {
	text-align:left !important;
}
.enova-table span.small {
	font-size: 8px !important;
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing: 0em !important;
    line-height:  1.2em !important;
	display:block;
}
.enova-table .spanned {
    vertical-align: middle !important;
}
.enova-table .blank {
background: none !important;
background-color: transparent !important;
}

.enova-table thead .separator th  {
    background-color: transparent;
    height: 1px;

}
.enova-table thead .dark th  {
    background-color: #305b6b;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;

}

.enova-table td.legend p sup{
    float: left;
    position: relative;
    left:  -5px;
    font-size: 8px;
}
.enova-table td.legend p{
    padding-left: 10px;
}
.enova-table td.legend {
    text-align: left;

}