/****************************************************************
 * Copyright notice
 *
 * (c) 2010 Christian Technology Ministries International Inc.
 * All rights reserved
 *
 * This file is part of the Web-Empowered Church (WEC)
 * (http://WebEmpoweredChurch.org) ministry of Christian Technology Ministries
 * International (http://CTMIinc.org). The WEC is developing TYPO3-based
 * (http://typo3.org) free software for churches around the world. Our desire
 * is to use the Internet to help offer new life through Jesus Christ. Please
 * see http://WebEmpoweredChurch.org/Jesus.
 *
 * You can redistribute this file and/or modify it under the terms of the
 * GNU General Public License as published by the Free Software Foundation;
 * either version 2 of the License, or (at your option) any later version.
 *
 * The GNU General Public License can be found at
 * http://www.gnu.org/copyleft/gpl.html.
 *
 * This file is distributed in the hope that it will be useful for ministry,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * This copyright notice MUST APPEAR in all copies of the file!
 ****************************************************************/

/****************************************************************
 *
 * This is a modified version of skin_bn_wireframe developed by Ron Hall of BusyNoggin, Inc.
 *
 ****************************************************************/

/* @group Reset Styling */

/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

a:active {
    outline: none;
}

a:focus {
    -moz-outline-style: none;
}

/* @end Reset Styling */

/* @group Base Styling */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: ProximaNova-Regular, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #555555;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* NOTE: Much of the typography styling is handled in rte.css */


/* @group Table Styling */

/* NOTE: Table Styling is mostly handled in rte.css */
table {
    border-collapse:collapse;
    /*width: 100%;*/
}

/* @end Table Styling */

/* @group Additional Tags */


pre {
    margin-bottom: 15px;
}

code {
    margin-left: 10px;
    margin-right: 10px;
}

pre code {
    margin-left: 0px;
    margin-right: 0px;
}

pre,
code {
    font-family: 'andale mono', 'monotype.com', 'lucida console', monospace;
}


/* @end Additional Tags */

/* @group TYPO3 General Styling */

div.csc-textpic-center div.csc-textpic-imagewrap,
div.csc-textpic-left div.csc-textpic-imagewrap,
div.csc-textpic-right div.csc-textpic-imagewrap {
    margin-bottom: 10px;
}

/* @end */

/* @group Forms */


input, textarea, select {
    font-family: ProximaNova-Regular;
    font-size: 1em;
}

form input:focus, form input:hover {

}

form option {
    margin: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

optgroup {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
}

optgroup option {
    padding-left: 5px;
}

legend {
    font-weight: bold;
    color: black;
}


/* @end Forms */

/* @end Base Styling */

/* @group Common Classes */

.clear {
    clear: both;
}

.clearOnly, .clearonly {
    clear: both;
    height: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 0;
}

.outOfSight {
    position: absolute;
    top: 0;
    left: -4000px;
}

.bottom-40 { margin-bottom: 40px;}

#centralHeadlineWrap {
    padding: 30px 0;
}

#centralHeadlineWrap.grey { background-color: #f1f2f2; }
#centralHeadlineWrap.white { background-color: #ffffff; }


#centralHeadline {
    position: relative;
    width: 1100px;
    margin: auto;
    margin-top:0;
    min-height: 100px;
}

#centralHeadline h1 {
    margin: 15px 0px 9px 16px;
    color: #000000;
}

#centralHeadline .page-description {
    width: 530px;
    margin-left: 16px;
    color: #000000;
}

#centralHeadline .page-icon {
    position: absolute;
    right: 320px;
    top: 50%;
}

#centralHeadline .page-icon img {
    position: absolute;
    top: -70px;
}

#centralHeadline span {
    position: absolute;
    bottom: 20px;
    left 20px;
    color: #b3b3b3;
    font-size: 2em;
}

.csc-firstHeader {
    margin-top: 0px;
    position: relative;
}

.graphicTextWrap {
    overflow: hidden;
}

.graphicText {
    line-height:300px;
    display: block;
}

/* @end Common Classes */

/* @group Layout */

#contentWrap {
    position: relative;
    margin: 0 auto 0 auto;
    background-color: white;
}

#f1a #contentWrap { margin-bottom: 40px; }

#featureWrap {
}

#feature {
    margin: 0px auto 7px auto;
}
#feature.bleed {
    padding:15px;
}

#bottomSection {
    margin-bottom: 0px;
}

#generatedContent-1 {
    width: 230px;
    float: left;
    margin-right: 20px;
}

#generatedContent-2 {
    width: 230px;
    float: right;
}

#contentBlock-1 {
    min-height: 500px;
}

#f1a #contentBlock-1 > div.csc-default,
#f1b #contentBlock-1 > div.csc-default,
#f1c #contentBlock-1 > div.csc-default,
#f2a #contentBlock-1 > div.csc-default,
#f2b #contentBlock-1 > div.csc-default,
#f2c #contentBlock-1 > div.csc-default,
#feature > div.csc-default,
#f1a h1.centralHeadline,
#f1b h1.centralHeadline,
#f1c h1.centralHeadline,
#f2a h1.centralHeadline,
#f2b h1.centralHeadline,
#f2c h1.centralHeadline  {
    width: 1100px;
    margin: 0 auto;
}

.bgBlue > div.csc-default,
.bgGrey > div.csc-default,
.bgGreen > div.csc-default,
.bgYellow > div.csc-default,
.bgWhite > div.csc-default {
    width: 1100px;
    margin: 0 auto;
}

.bgBlue h1, .bgGrey h1, .bgGreen h1, .bgGreen h1, .bgYellow h1, .bgWhite h1 {
    margin-top: 0;
    margin-bottom: 7px;
}

.bgGreen, .bgGreen h1, .bgGreen h2, .bgGreen h3, .bgGreen h4, .bgGreen h5, .bgGreen h6 {
    color: #ffffff;
}

.csc-default > ul { margin-left: 15px; }

#f1d #contentWrap {
    width: 1100px;
}

#f1d #contentBlock-1 {
    float: right;
    width: 820px;
    padding-left: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#f1d.zone #contentBlock-1 {
    width: 817px;
    padding-left: 35px;
    border-left: solid 3px #9abe3d;
    margin-bottom: 40px;
    margin-top: 40px;
}

#f1d #generatedContent-1 {
    width: 245px;
    float: left;
    margin: 40px 0 0 0;
}

#f1d #contentBlock-1 h1 {
    margin-top: 0;
}

#f1e #contentBlock-1 {
    float: left;
    width: 730px;
}

#f1f #contentBlock-1 {
    float: left;
    width: 480px;
}

#f2a #contentBlock-1 {

}

#f2a #contentBlock-2-wrap {
    position: absolute;
    left: 50%;
    top: 0;
}

#f2a #contentBlock-2 {
    width: 225px;
    padding: 20px;
    position: absolute;
    left: 285px;
    top: 20px;
    background: #f2f2f2;
    min-height: 900px;
}

#f2b #contentBlock-1 {
    float: left;
    width: 730px;
}

#f2b #contentBlock-2 {
    width: 230px;
    float: right;
}

#f2c #contentBlock-1 {
    float: left;
    width: 730px;
}

#f2c #contentBlock-2 {
    width: 230px;
    float: right;
}


#f2d #contentBlock-1 {
    float: left;
    width: 480px;
}

#f2d #contentBlock-2 {
    width: 230px;
    float: right;
}

#f2e #contentBlock-1 {
    float: left;
    width: 480px;
    margin-right: 20px;
}

#f2e #contentBlock-2 {
    width: 230px;
    float: left;
}

#f3a #contentBlock-1,
#f3b #contentBlock-1 {
    float: left;
    width: 480px;
    margin-right: 20px;
}

#f3a #contentBlock-2,
#f3b #contentBlock-2 {
    width: 230px;
    float: left;
}

#f3a #contentBlock-3,
#f3b #contentBlock-3,
#f3c #contentBlock-3,
#f3d #contentBlock-3 {
    width: 230px;
    float: right;
}

#f3c #contentBlock-1,
#f3d #contentBlock-1 {
    float: left;
    width: 480px;
}

#f3c #contentBlock-2,
#f3d #contentBlock-2 {
    width: 230px;
    float: left;
    margin-right: 20px;
}

.bgBlue, .bgGrey, .bgGreen, .bgYellow, .bgWhite {
    clear: both;
    padding: 40px 0 30px 0;
}

#feature .bgBlue, #feature .bgGrey, #feature .bgGreen, #feature .bgYellow, #feature .bgWhite {
    clear: both;
    padding: 0;
    margin: 0;
}

.bgBlue   { background-color: #e2ecf1; }
.bgGrey   { background-color: #f2f2f2; }
.bgGreen  { background-color: #9abe3d; }
.bgYellow { background-color: #e9d027; }

/* @end Layout */

/* @group Header */



#header {
    width: 1100px;
    margin: 0px auto 10px auto;
    position:relative;
}

#masthead {
    float: left;
    margin: 0;
    padding: 6px 0 0 0;
}

#masthead h1 {
    margin: 0;
    font-size:36px;
    padding: 0;
}

#masthead h1 a,
#masthead h1 a:active {
    color: #666;
    font-family:Georgia, "Times New Roman", Times, serif;
}


#masthead h1 a:hover{
    color: #222;
}

#loginMenu {
    position:absolute;
    right:0;
    top: 120px;
    z-index:5;
}

#login,
#login a {
    color: #999;
}

#login a {
    font-weight: bold;
}
#login a:hover {
    color:#000;
}

#searchBox {
    float: right;
    margin-top: 20px;
    clear: right;
    padding: 0 0 0 20px;
    text-align: right;
    background: #f2f2f2;
}

#searchBox form {
    margin: 0;
}
#searchBox input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#siteSearchInput {
    padding: 2px;
    width: 130px;
    border: none;
    background: none;
}

/* @group Global Menu */
#globalMenu-wrapper{ /* adding this div is for fix the clear float in IE7 */
    margin: 17px 0 5px 0;
    padding: 0;
    clear:both; /* this helps to clear the float for masthead and topnav */
}

#secLvlHolder {
    height: 40px;
}

#globalMenu {
    clear: both;/* thie clear is necessary because it clears the masthead and topnav float */
    width: 1100px;
    margin: 0 auto;
    padding: 0 0 0 20px;
    font-size: 1.2em;
    position: relative;
}

#globalMenu > li {
    display: inline;
    float: left;
    padding: 7px 20px 5px 7px;
    margin: 0 20px 5px 0;
    white-space:nowrap;
    text-transform: uppercase;
}

/*
#globalMenu > li:hover ul {
	display: block;
}
*/
#globalMenu > li.last {
    border: none;
    background: #e9d027;
    padding: 7px 15px 5px 15px;
}

#globalMenu a {
    height: 17px;
    display: inline;
    color: #000000	;
}

#globalMenu a:hover {
    color: #73a43f;
}

#globalMenu li.active > a {
    color: #73a43f;
}

#globalMenu ul {
    position: absolute;
    display: none;
    background: #FFFFFF;
    border: solid 1px #9abe3d;
    list-style: none;
    left: 0px;
    top: 22px;
    z-index: 10;
    width: 100%;
    margin: 0;
}

#globalMenu ul li {
    display: inline-block;
    padding: 10px;
    left: 0;
}

/* @end Global Menu */

/* @start Second Level Menu */


/* @end Section Menu */

#scdLvlMenu-wrapper {
    background: #e1ebf0;
}

#scdLvlMenu {
    width: 1100px;
    margin: auto;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

#scdLvlMenu > li {
    display: inline-block;
}

#scdLvlMenu > li a {
    display: block;
    padding: 5px 18px;
    color: #000000;
}

#scdLvlMenu > li.active a,
#scdLvlMenu > li a:hover {
    background: #9abe3d;
    color: #FFFFFF;
}

/* @start Section Menu */

#sectionMenuWrap {
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: 13px;
    /* border-top: solid 3px #ffffff; */
}

#sectionMenuInnerWrap {
    width: 100%;
    z-index: 999;
    border-bottom: solid 3px #9abe3d;
    background: #ffffff;
}

#sectionMenu {
    width: 1100px;
    background-color: #ffffff;
    padding: 0;
    margin: auto;
    list-style:circle;
    text-align: right;
    font-size: 1.2em;
}

#sectionMenu > li {
    display: inline-block;
}

#sectionMenu > li.last {
    border-right: none;
}

#sectionMenu > li a {
    display: block;
    padding: 5px 18px;
    color: #000000;
}

/*
#sectionMenu > li:hover a {
	border-top: solid 3px #9abe3d;
	border-left: solid 3px #9abe3d;
	border-right: solid 3px #9abe3d;
	padding: 2px 15px 5px 15px;
}
*/
#sectionMenu > li:hover a,
#sectionMenu > li.current a {
    background-color: #9abe3d;
    color: #FFFFFF;
    border: none;
    padding: 5px 18px;
}

/* @end Section Menu */


/* @end Language Menu */

#langSwitch {
    padding-top: 16px;
    float: right;
    text-transform: uppercase;
}

#langSwitch span {
    padding-left: 5px;
    border-left: solid 1px #9abe3d;
}

#langSwitch span.first { border: none; }

#langSwitch .lang-link.act a,
#langSwitch .lang-link a:hover {
    color: #9abe3d;
}


#langSwitch .lang-link a {
    color: #939598	;
}
/* @end Language Menu */

/* @end Header */

#website-switch {
    display: block;
    position: fixed;
    top: 166px;
    right: 0;
    width: 38px;
    height: 107px;
    background: url(images/website-switch.png);
    z-index: 1000;
}

/* @group Footer */

#footerWrap {
    background-color: #f2f2f2;
    width: 100%;
}

#footer {
    position: relative;
    width: 1100px;
    padding: 25px 10px 20px 10px;
    margin: 0 auto 0 auto;
}

#footer #copyright {
    color: #999999;
    text-align:left;
    margin-top: 20px;
    padding: 2px;
    float: left;
    clear: left;
}

a#footerHomeLink {
    display: block;
    float: right;
    color: #999999;
    text-align:right;
    width:30%;
}

a#footerHomeLink:hover {
    color: black;
}

ul#followUsLinks {
    margin-top: 20px;
    list-style: none;
    float: right;
    clear: right;
}

ul#followUsLinks li {
    display: inline-block;
    padding: 0 5px;
}

ul#followUsLinks li.like {
    dislpay: block;
    float: right;
    padding-top: 2px;
}

div#helpMenu {
    float: left;
    list-style: none;
    padding-top:3px;
}

div#helpMenu > span {
    font-weight: bold;
}

div#helpMenu ul {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

div#helpMenu li {
    display: inline;
}

div#helpMenu a {
    color: #333333;
}

div#helpMenu a:hover {
    color: #9abe3d;
}

#footer-newsletter-form {
    float: right;
    clear: right;
    text-align: right;
    margin-top: 5px;
}

#footer-newsletter-form form { margin: 0; }

#footer-newsletter-form input {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;
    padding: 7px 7px 5px 7px;
}

#footer-newsletter-form input[type=text] { width: 165px; background: #ffffff; }
#footer-newsletter-form div.accept { width: 250px; text-align: right; width: 282px; }
#rzetelnafirma { position: absolute; left: 565px; top: 30px; }

/* @end Footer*/

/* @group Local Menu */

#localMenu {
    margin: 0;
    padding: 0px;
    width: 245px;
}

#localMenu ul {
    margin-left: 0;
    padding: 10px 0;
    background-color: #e2ecf1;
}

.zone #localMenu ul {
    background-color: #ffffff;
    padding: 0;
}

#localMenu ul ul,
#localMenu ul ul ul,
#localMenu ul ul ul ul {
    margin-left: -12px;
}
#localMenu ul li {
}

#localMenu li {
    list-style: none;
    font-size: 16px;
    background-color: #e2ecf1;
    border-top: solid 1px #FFFFFF;
    padding: 8px 10px 8px 12px;
}

#localMenu li.last { border-bottom: solid 1px #FFFFFF; }

#localMenu li.child {
    padding-left: 20px;
    background-position: 8px 11px;
}

.zone #localMenu li.parent {
    font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
    padding-bottom: 0;
    background: url('images/triangle.png') no-repeat left 10px;
}

.zone #localMenu li { padding: 4px 10px 4px 12px; }

#localMenu li li,
#localMenu li li li,
#localMenu li li li li {
    font-family: ProximaNova-Regular;
    border-bottom: none;
    padding-left: 20px;
}

#localMenu li a { color: #000000; }
#localMenu li a:hover {	color: #0070bb; }
#localMenu li.current a { color: #0070bb; }
#localMenu li.current li a { color: #666666; }

#localMenu li.current,
#localMenu li:hover { background: #ffffff; }

.zone #localMenu li {
    border-top: none;
    border-bottom: solid 1px #dddddd;
    background: url('images/dot_off.png') no-repeat 2px 11px;
}



.zone #localMenu li li,
.zone #localMenu li li li,
.zone #localMenu li li li li {
    background: url('images/dot_off.png') no-repeat 12px 11px;
}

.zone #localMenu li a {
    color: #666666;
    padding-right:8px;
}

.zone #localMenu li.current,
.zone #localMenu li:hover,
.zone #localMenu li.active {
    background-color	: #9abe3d;
}

.zone #localMenu li.current a,
.zone #localMenu li:hover a,
.zone #localMenu li.active {
    color: #ffffff;
}
/* @end Local Menu */






/* @group Module Styling */

.moduleHeader {
    margin: 0;
    padding: 0 15px 0 0;
    color: white;
    background: url(images/right_module_cap.gif) no-repeat right top;
    font-size: 16px;
}

.moduleHeader .moduleHeaderInnerWrap {
    display: block;
    padding: 5px 0 5px 10px;
    background: #3399cc url(images/left_module_cap.gif) no-repeat left top;
}

.moduleFooter {
    height: 15px;
    margin: 0;
    padding-right: 15px;
    background: url(images/right_module_cap.gif) no-repeat right bottom;
    font-size: 1px;
    overflow: hidden;
    line-height: 1em;
}

.moduleFooter span {
    display: block;
    height: 15px;
    background: #3399cc url(images/left_module_cap.gif) no-repeat left bottom;
}

.moduleBody {
    padding: 15px 10px 10px 10px;
}

.moduleBodyWrap {
    border-left: 2px solid #3399cc;
    border-right: 2px solid #3399cc;
    /* Please note that the thickness values on the two border values above will be overridden in the final output. Make sure these values match the constant moduleBodyBorderWidth */
}

.unframed .moduleBody,
.unframed .moduleBodyWrap {
    padding: 0;
    border: 0;
}

.unframed .moduleBodyWrap {
    background:none;
}

.moduleBodyBleed {
    padding: 0;
}

.columnGroup {
    margin-bottom: 0px;
}
.columnGroup .column {
    position: relative;
    min-height: 10px;
}

.columnGroupRule {
    border-bottom: 1px solid #7f7f7f;
}

.moduleGroup {
    margin-bottom: 10px;
    margin-top:5px;
}

.moduleFeature {
    margin-bottom: 15px;
}

/* @end Module Styling */



/* @group Forms */

.csc-mailform-field label,
.csc-mailform-field label {
    display: block;
}

/* @end */



/************section menu*******************/

.sectionMenu .menuItem {
    margin: 0 20px 20px 0;
    vertical-align: top;
    zoom: 1;
    clear:both;
    margin-top: 40px;
    float: left;
}

.sectionMenu .menuItem .image {
    width: 245px;
    float: left;
    margin-right: 40px;
    text-align: center;
}

.sectionMenu img { float: none; }

.sectionMenu .menuItem .abstract {  }
.wrapper {
    float: left;
    width: 530px;
}

.sectionMenu h2 { margin: 0;}

.sectionMenu .button { margin-top: 10px; }

/************* Section Menus ********************/
label {
    display: block;
    margin-top: 10px;
}

.instructions {
    font-size: 10px;
    line-height: 1.1em;
}

*:focus {
    outline: none;
}

input[type=text],
input[type=password],
textarea,
select {
    background-color: #fff;
    border: 1px solid #bbb;
    margin: 5px 0 0 0;
}

input[type=text]:focus,
input[type=password]:focus
textarea:focus,
select:focus {
    border-color: #666;
}

input[type=text],
input[type=password],
textarea,
select {
    margin: 0px 0;
    width: 250px;
}

input[type=text],
input[type=password],
select {
    /* width: 300px; */
    width: 190px;
    padding: 6px 7px;
    border: none;
    font-family: ProximaNova-Regular, sans-serif;
    color: #000000;
}

textarea {
    padding: 7px;
    border: none;
}

input[type=checkbox],
input[type=radio] {
    position: relative;
    /* top: .2em; */
}

p a:visited { color: #712896 }

input[type=submit],
a.button {
    background: #00aab6;
    color: #ffffff !important;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    padding: 7px 7px 5px 7px;
    margin: 0;
}

a.button{
    display: inline-block;
}

a:hover.button { color: #ffffff;}



/* Account for Frontend User Registration using <label> for checkbox items with no other surround markup */
#tx-srfeuserregister-pi1-fe_users_form input[type=checkbox] + label,
#tx-srfeuserregister-pi1-fe_users_form input[type=radio] + label {
    margin-top: 0;
    display: inline;
    font-weight: normal;
}
#tx-srfeuserregister-pi1-fe_users_form input[type=checkbox] + label:after,
#tx-srfeuserregister-pi1-fe_users_form input[type=radio] + label:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.header-image {
    margin-right: 20px;
}

h1 .headerText {
    position: relative;
    top: -20px;
}

h2 .headerText {
    position: relative;
    top: -25px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}
/*
.error, .notice, .success {
	border:2px solid #DDDDDD;
	margin-bottom:1em;
	padding:0.8em;
}

.error:empty, .notice:empty, .success:empty {
	display: none;
}

.error {
	background: #FBE3E4 none repeat scroll 0 0;
	border-color: #FBC2C4;
	color: #8A1F11;
}

.success {
	background: #E6EFC2 none repeat scroll 0 0;
	border-color: #C6D880;
	color: #264409;
}

.notice {
	background: #FFF6BF none repeat scroll 0 0;
	border-color: #FFD324;
	color: #514721;
}
*/

form ol,
form ul {
    list-style-type: none;
    margin-left: 0;
}

form hr {
    height: 1px;
    border: none;
    border-top: 1px solid #bbb;
    margin: 15px 0 15px 0;
}

.tx-felogin-pi1 .message { float: right; width: 530px; margin-left: 40px; }
.tx-felogin-pi1 form { 	text-align: right; }
.tx-felogin-pi1 div.fieldrow { margin-bottom: 20px; 	}
.tx-felogin-pi1 input[type="text"],
.tx-felogin-pi1 input[type="password"] { width: 400px; }
.tx-felogin-pi1 input[type="submit"] {  }
.tx-felogin-pi1 label { width: 95px; }
.tx-felogin-pi1 legend { display: none; }
.permalogin input { float: left; padding-top: 0;}
.permalogin label { display: inline; float: none; padding-top: 2px;}
.tx-felogin-pi1 .forgot-link { padding-left: 115px;}

.permalogin {
    text-align: left;
    float: right;
    width: 296px;
    padding: 7px 0 0 18px;
}

.tx-powermail { position: relative; }

.tx-powermail .ajaxFormLoader {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    background: url(images/ajax-loader-big.gif) center no-repeat;
    z-index: 1;
}

.tx-powermail .form-reponse {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

form.powermail_form {
    position: relative;
}

form.powermail_form h3,
form.powermail_form legend  {
    display: none;
}

form label {
    float: left;
    margin: 7px 20px 0 0;
    padding-top: 0;
    text-align: right;
    width: 245px;
}

.powermail_fieldwrap { margin-bottom: 10px; }
.powermail_input, .powermail_textarea { width: 250px; }
.powermail_textarea { height: 100px; }
.powermail_select { width: 264px; }
label[for=powermail_field_statement_1] { display: none; }
.powermail_fieldwrap_check { float: left; margin: 0;}
.powermail_fieldwrap_typoscript { text-align: left; }
.tx-powermail .statement { position: relative; left: 265px; margin-top: 10px;}
#powermail_field_statement_1 { float: left; z-index: 1;	 left: 265px; margin: 3px 5px 0 0; padding: 0;}
#powermail_fieldwrap_78,
#powermail_fieldwrap_142,
#powermail_fieldwrap_158,
#powermail_fieldwrap_174 { clear: none; }
.powermail_fieldwrap_submit { margin-left: 265px; }

.powermail_create dl.powermail_all { width: 500px; margin: 10px 0 0 0; }
.powermail_all dt {float: left; width: 40%; margin-right: 10px; text-align: right}

/*---------- HOME PAGE SPECIAL ELEMENTS -----------------*/
.home-box .content {
    background-color: #e2ecf1;
    font-size: 1.2em;
}

.home-box .text {
    padding: 10px;
}

.home-box .text a {
    color: #555555;
}

.home-box .text a:hover {
    color: #73a43f;
}

.download_form { width: 530px; }
.download_form

form.powermail_form_4 h3,
form.powermail_form_4 legend,
form.powermail_form_4 label {
    display: none;
}

form.powermail_form_4  .powermail_fieldwrap_input {
    padding: 2px 5px;
    width: 246px;
    text-align: right;
    background: #f2f2f2;
}

form.powermail_form_4  input.powermail_input {
    width: 240px;
    border:none;
    background: none
}

form.powermail_form_4  input.powermail_submit {
    background: #9abe3d;
    cursor: pointer;
    color: #FFFFFF;
    padding: 7px 10px;
    border: solid 1px #9abe3d;
    float: right;
    margin: 10px 0;
}

.powermail_form_6 label { display: inline; width: auto; }
.powermail_form_6 .powermail_field { width: 415px; }

.powermail_fieldwrap_28 {
    width: 398px;
    height: 250px;
    border: solid 1px #cccccc;
    overflow-y: scroll;
}

/* ------------ logo scroll -------------*/
#logoScrollContainer {
    width: 1125px;
    margin: 50px auto 10px auto;
    padding: 20px 0 40px 0;
    border-top: solid 1px #dddddd;
    clear: both;
}
ul#logoScroll {
    position: relative;
    left: -25px;
    list-style: none;
    overflow-y: hidden;
    margin: 0;
    width: 1150px;
}
#logoScroll li {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    height: 56px;
}

#logoScroll div.bw {
    position: relative;
    z-index: 2
}

#logoScroll div.col {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

/* Container DIV - automatically generated */
.simply-scroll-container {
    position: relative;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.simply-scroll-list li img {
    border: none;
    display: block;
}

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll {
    width: 1100px;
    height: 76px;
    margin: 0 auto;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
    width: 1100px;
    height: 76px;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list li {
    height: 76px;
}

/*---------- feature buttons ---------*/
:-moz-any-link:focus {
    outline: none;
}

#feature .slider {
    float: left;
}

#featureNav {
    padding: 0px;
    width: 184px;
    overflow-x: hidden;
    float: right;
}

#featureNav .button {
    display: block;
    position: relative;
    height: 108px;
    left: 0px;
    margin-bottom: 10px;
    font-size: 1.2em;
    background-position: top right;
    background-repeat: no-repeat;
    opacity: 0;
}

#featureNav .button div {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
}

#featureNav .downloadDemo {
    background-color: 	#608bab;
    background-image: url('images/feature-btn-1.png');
}

#featureNav .liveDemo {
    background-color: #f59c13;
    background-image: url('images/feature-btn-2.png');
}

#featureNav .update {
    background-color: #36924b;
    background-image: url('images/feature-btn-3.png');
    margin-bottom: 0;
}

/*--------- slider ------------*/
.tx-imagecycle-pi1-images {
    display: none;
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tx-imagecycle-pi1-images img {
    display: block;
}
.tx-imagecycle-pi1-images li {
    position: absolute;
    margin: 0;
    padding: 0;
}
.tx-imagecycle-pi1-images li,
.tx-imagecycle-pi1-images a {
    display: block;
    position: relative;
}
.tx-imagecycle-pi1-images a:hover {
    background: none;
    border: 0! important;
}
.tx-imagecycle-pi1-images .imagecycle-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    /* remove the below 'width' line if you want the caption background to be just the width of the caption text */
    width: 100%;
    padding: 5px;
    color: #fff;
    background: #000;
    opacity: 0.8;
    white-space: nowrap;
    display: none;
}
.tx-imagecycle-pi1-images .imagecycle-caption a {
    display: inline;
    color: #9bd;
}
.tx-imagecycle-pi1-images .imagecycle-caption a:hover {
    color: #acf;
}
.tx-imagecycle-pi1-pager {
    position: absolute;
    bottom: 30px;
    left: 98px;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.tx-imagecycle-pi1-pager a {
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background-image: url("images/banner-navi-point.png");
}
.tx-imagecycle-pi1-pager a.activeSlide {
    background-position: 0px -15px;
}
/* noscript will be displayed */
noscript .tx-imagecycle-pi1-images {
    display: block;
}
noscript .tx-imagecycle-pi1-images li {
    float: left;
    overflow: hidden;
}
noscript .tx-imagecycle-pi1-images .imagecycle-caption {
    display: block;
}

/*------------ Sliding elements -----------*/

.slider-container {
    position: relative;
    width: 100%;
    margin-top: 0px;
}


.slider-container .outerWrap {
    position: relative;
    clear: both;
}

.slider-container .contentWrap {
    overflow: hidden;
    width: 1100px;
}

.slider-container .slider-navi {
    position: absolute;
    width: 100%;
}

.slider-container .content > div {
    /* float: left; */
    display: inline-block;
    width: 1100px;
    /* cursor: pointer; */
}

.slider-container .slider-navi > div {
    position: absolute;
    bottom: -20px;
    cursor: pointer;
    width: 23px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
}

.slider-main-navigation-wrap {
    border-bottom: solid 1px #e1ebf0;
    margin-bottom: 40px;
}

#centralHeadline .slider-main-navigation-wrap {
    position: absolute;
    right: 0;
    bottom: -60px;
    width: 100%;
}

.slider-main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    float: right;
}

.slider-lead {
    width: 530px;
    float: left;
    margin-bottom: 30px;
}

.slider-main-navigation li {
    position: relative;
    display: inline;
    float: left;
    cursor: pointer;
    padding: 10px;
    width: 128px;
    margin-right: 10px;
    text-align: center;
    height: 137px;
}

.slider-main-navigation li.last {
    margin-right: 2px;
}

.slider-main-navigation li > a {
    display: block;
    padding: 0;
    margin: 0;
    color: #4d4d4d;
}

.slider-main-navigation div.marker {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background-image: url('images/slider-active.png');
    background-position: 60px 0;
    background-repeat: no-repeat;
    display: none;
}

.slider-main-navigation li:hover,
.slider-main-navigation li.active {
    background: #e1ebf0;
}

.slider-main-navigation li:hover div.marker,
.slider-main-navigation li.active div.marker {
    display: block;
}

.slider-main-navigation li .caption {
}

.slider-main-navigation li img {
    margin: 10px;
}
.slider-container .slider-navi > div:hover {
    background-position: 0 -40px;
}

.slider-container .slider-navi .next {
    right: -40px;
    background-image: url("images/slider-next.png");
}

.slider-container .slider-navi .prev {
    left: -40px;
    background-image: url("images/slider-prev.png");
}

.slider-pager {
    text-align: center;
    margin-top: 27px;
}

.slider-pager a {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-image: url("images/banner-navi-point.png");
}

.slider-pager a:hover,
.slider-pager a.active {
    background-position: 0 -15px;
}

/* ----------------- FILE LINKS ---------------- */
.filelinks > div {
    padding: 3px;
}

.filelinks .odd {
    background-color: #f5f5f5;
}

.filelinks span.filesize {
    display: block;
    float: right;
    width: 100px;
    text-align: right;
}

.filelinks span.date {
    display: block;
    float: right;
}

.filelinks .icon {
    float: left;
    padding: 2px 5px 0 0;
}

.version .version-description,
.version .download-files {
    margin-top: 20px;
}

/*----------------------------- INFO INDEX -----------------*/
.infonIndex-list .link {
    margin-left: 22px;
}

.infonIndex-list .icon {
    display: block;
    float: left;
    margin-top: 1px;
}

.infonIndex-list .item {
    clear: both;
    margin-bottom: 10px;
}

.csc-menu.csc-menu-1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.csc-menu.csc-menu-1 li {
    display: block;
    float: left;
    margin-right: 40px;
    width: 240px;
    background-color: #dddddd;
}

.csc-menu.csc-menu-1 li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
}

.csc-menu.csc-menu-1 li.four {
    margin-right: 0;
}

.csc-menu.csc-menu-1 li.one.current,
.csc-menu.csc-menu-1 li.one:hover	{ background-color: #fab817; }
.csc-menu.csc-menu-1 li.two.current,
.csc-menu.csc-menu-1 li.two:hover	{ background-color: #273170; }
.csc-menu.csc-menu-1 li.three.current,
.csc-menu.csc-menu-1 li.three:hover	{ background-color: #d80a5e; }
.csc-menu.csc-menu-1 li.four.current,
.csc-menu.csc-menu-1 li.four:hover { background-color: #32bad0; }

.csc-menu.csc-menu-1 li.current a,
.csc-menu.csc-menu-1 li:hover a {
    color: #ffffff;
}

/* ------------ styling of variants table -------------*/
table.contenttable.variants,
table.contenttable.pricelist,
table.contenttable.pricelist-ext { width: 100%;}

table.contenttable caption { caption-side: bottom; }

table.contenttable div.contact-us {
    position: relative;
    width: 274px;
    border-right: solid 1px #dddddd;
    z-index: 10;
    background: #f6f9fa url("images");
    text-align: center;
}

table.contenttable div.contact-us > div { position: absolute; top: 50%; margin-top: -10px; padding: 0 50px;}


table.contenttable th.td-1,
table.contenttable th.td-2,
table.contenttable th.td-3 {
    text-transform: uppercase;
    font-size: 1.8em;
}



table.contenttable td, table.contenttable th {
    background-image: url("images/table-border.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}

table.contenttable thead th.td-1 { background-color: #dddddd; width: 25%; }
table.contenttable thead th.td-2 { background-color: #f6e678; width: 25%; }
table.contenttable thead th.td-3 { background-color: #e1ebf0; width: 25%; }

table.contenttable tbody td.td-1 { background-color: #f5f5f5; }
table.contenttable tbody td.td-2 { background-color: #fcf7d6; }
table.contenttable tbody td.td-3 {
    background-color: #f6f9fa;
    border-bottom: none;
    border-right: solid 1px #dddddd;
    background-image: none;
}

table.contenttable td, table.contenttable tr.tr-last { border-bottom: solid 1px #dddddd; }


/* ----------- PARTNER LIST ------------------ */

.partner-search .content { float: left; width: 340px; padding-top: 20px; margin-right: 40px; }
.partner-search label { width: 150px; display: inline; float: none; }
.partner-search .content.right { margin-right: 0; }
.partner-search .right label { width: auto; }
.partner-search h3 { margin-top: 20px; width: 340px; text-align: right;}

.partner-search select { width:  ; }
.partner-search .fieldRow { margin-bottom: 10px; text-align: right;}

.partner-search #zipcode { width: 50px; }
.partner-search .range { margin-left: 10px; padding-top: 8px; }
.partner-search #range-slider { width: 45px; float: left; margin: 11px 0 0 12px; }
.partner-search #range-label {display: inline-block; margin-top: 8px;}
.partner-search #range-value { float: left; font-size: 12px; margin: 8px 0 0 15px;}
.partner-search input[type="submit"] {  }


.tx-ttaddress-pi1 .vcard {
    display: none;
    width: 245px;
    margin-right: 40px;
    float: left;
    height: 200px;
}

.tx-ttaddress-pi1 .region,
.tx-ttaddress-pi1 .locality { display: none; }
.tx-ttaddress-pi1 { margin-top: 40px; }
.tx-ttaddress-pi1 .last { margin-right: 0; }

/* -------- MODULE REVIEW -------------------*/
.modules-box {clear: both;}
.modules-box .module-col { float: left; width: 245px; }
.modules-box .module-col.last {margin-left: 40px;}
.modules-box .module-row {
    display: block;
    margin-top: 10px;
    border: solid 1px #dddddd;
}

.modules-box .module-row a {
    display: block;
    padding: 5px;
}

.modules-box .module-row a { color: #000000; }
.modules-box .module-row a:hover,
.modules-box .module-row a.clicked { background: #288e6f; color: #FFFFFF;}
.modules-box .module-row a.active { color: #FFFFFF; }

.modules-box .module-row > div.silver { background: #dddedd; padding-left: 15px; }
.modules-box .module-row > div.gold { background: #f3e677; padding-left: 15px; }
.modules-box .module-row > div.platinum { background: #e1ecf0; padding-left: 15px; }

.modules-box.type-0 h3 { border-bottom: solid 3px #0070bb; color: #0070bb; }
.modules-box.type-1 h3 { border-bottom: solid 3px #660099; color: #660099; }
.modules-box.type-2 h3 { border-bottom: solid 3px #39b549; color: #39b549; }
.modules-box.type-3 h3 { border-bottom: solid 3px #cc0000; color: #cc0000; }

.modules-box.type-0 a.active { background: #0070bb; }
.modules-box.type-1 a.active { background: #660099; }
.modules-box.type-2 a.active { background: #39b549; }
.modules-box.type-3 a.active { background: #cc0000; }

.module-short { background-color: #f2f2f2; font-style: italic; }

.single-modules-box,
.recommended-module { padding: 0px 0; }
.single-modules-box .right-col,
.recommended-module .right-col { float: right; width: 245px; margin-left: 40px; position: relative; top: -20px; }
.recommended-module .right-col ul,
.single-modules-box .right-col ul { margin: 0 0 15px 0; list-style-position:inside; }
.single-modules-box .left-col { float: left; width: 530px; margin-right: 40px; }

.modules-list {margin-bottom: 15px;}
.modules-list ul {list-style: none; margin: 0;}

#modules-single-wrap { padding: 40px 0; background: #f2f2f2;}

#contact-form-bg-holder {
    position: absolute;
    width: 100%;
    height: 615px;
    left: 0;
    background: #e1ebf0 url("images/bg-contact.png") 660px top no-repeat;
}

.expandable {
    padding: 16px;
    background-color: #f4f1d2;
    border: solid 1px #e9d12b;
}

.expandable h3 { margin-bottom: 20px; color: #39b549;}


/*------------------- PARNERS STYLING ------------*/
.partner-box { padding: 40px 0 30px 0;}
.partner-row { margin-bottom: 10px; }
.partner-basic-info { padding: 20px; border: solid 1px #ddd; background: #FFF; position: relative;}
.partner-www a,
.partner-email a { background: #00aab6; color: #FFF; padding: 0 3px; margin-right: 5px;}
.partner-www a:hover,
.partner-email a:hover { color: #FFF; }
.partner-status { float: right; margin-left: 40px; width: 245px; }
.partner-status IMG, .partner-status-name { float: left; }
.partner-status-name { margin: 10px 0 0 20px; text-transform: uppercase; }
.partner-logo { display: table-cell; vertical-align: middle; float: right; margin-left: 40px; width: 245px; text-align: center;}

.partner-extras,
.reference-box { background: #f2f2f2; clear: both; display: none; padding: 20px; }

.partner-extras .partner-about { float: left; width: 225px; margin-right: 40px; }
.partner-extras .partner-competences { float: left; width: 490px; margin-right: 40px; }
.partner-extras .partner-references { float: left; }
.partner-extras .partner-references ul { list-style: none; padding-top: 30px;}
.partner-extras .partner-references li { float: left; width: 120px; margin-right: 20px; }
.partner-extras .partner-references li.first { margin-left: 0; clear: both; }

.partner-info { float: right; width: 245px; }
.partner-info .partner-certificate { margin: 0; float: none; }
.reference-list ul { list-style: none; margin-left: 0;}
.reference-list li { float: left; margin: 20px 20px 0 0; width: 120px; text-align: center; }
.reference-list li.first { margin-left: 0; clear: both; }
.reference-box .refrences { }
.reference-box .referer-name { margin-top: 20px; }
.partner-info .partner-logo > img { position: absolute; top: 50%; margin-top: -20px; }

.tx-enovapartners-pi2 { }
.tx-enovapartners-pi2 .partner-status { margin: 20px 0; }

.tx-enovapartners-pi2 .reference-single { padding: 20px;}
.tx-enovapartners-pi2 .modules-used {float: right; width: 245px; margin-left: 40px; }

.news-list-item { position: relative; }
.event-title { position: absolute; width: 795px; background: #FFF; border: solid 1px #ddd; padding: 4px 10px;}
.event-title a {padding-left: 20px; background: url('images/icon_open.png') no-repeat left 2px}
.event-title a.opened {background-image: url('images/icon_close.png') }
.event-details { background: #f2f2f2; }
.event-price { position: absolute; top: 5px; right: 200px; }
.event-times, .mbl_newsevent_register .date { display: inline-block; background: #fff; padding: 2px 5px; margin-right: 20px;}
.event-details .mbl_newsevent_singledayevent .date,
.event-date-range { position: absolute; top: 5px; right: 300px; }
.event-details .register-link,
.event-details .register-closed { position: absolute; top: 0; right: 1px; padding: 4px 0 5px 0; background: #00aab6; width: 100px; text-align: center; }
.event-details .register-closed { background: #a1a1a1; color: #FFF;}
.event-details .register-link a { color: #fff; }
.event-details .news-latest-content { margin-top: 20px; }
.event-details .event-info { padding: 50px 10px 20px 10px; width: 500px; }
.event-details .thumb { float: right; width: 200px; margin-left: 100px; margin-top: 50px}
.event-details .thumb img {float: left; margin-right: 10px; }
.event-details .description { width: 500px; margin-top: 20px; }

.training-list-container .news-list-item { margin-bottom: 10px; padding: 0; height: 31px; overflow-y: hidden }
.training-list-container .cycle .event-title {background-color: #f2f2f2; }
.training-registration { padding: 20px 20px 0 20px; }
.training-registration input, .training-registration textarea { border: solid 1px #ddd; }
.training-registration .event-info { width: 380px; float: right; }
.training-registration .event-info > div {margin-bottom: 10px;}
.training-registration .headline { margin-bottom: 40px;}


.tx-changepassword-pi1 .csc-mailform-submit { margin-left: 404px;}


/* -------- CSS STYLED CONTENT DEFAULT STYLES -----------*/
/* Captions */

DIV.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
DIV.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
DIV.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

/* Needed for noRows setting */
DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; display: inline; }

/* Border just around the image */
DIV.{$styles.content.imgtext.borderClass}
DIV.csc-textpic-imagewrap .csc-textpic-image IMG, DIV.{$styles.content.imgtext.borderClass}
DIV.csc-textpic-imagewrap { padding: 0; }
DIV.csc-textpic IMG { border: none; }
DIV.csc-textpic-border DIV.csc-textpic-imagewrap IMG { border: 1px solid #dddddd; padding: 0px 0px; }

/* DIV: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap DIV.csc-textpic-image { float: left; }

/* UL: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap UL { list-style: none; margin: 0; padding: 0; }
DIV.csc-textpic DIV.csc-textpic-imagewrap UL LI { float: left; margin: 0; padding: 0; }

/* DL: This will place the images side by side */
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image { float: left; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DT { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD { float: none; }
DIV.csc-textpic DIV.csc-textpic-imagewrap DL.csc-textpic-image DD IMG { border: none; }

/* FE-Editing Icons */

DL.csc-textpic-image { margin: 0; }
DL.csc-textpic-image DT { margin: 0; display: inline; }
DL.csc-textpic-image DD { margin: 0; }

/* Clearer */
DIV.csc-textpic-clear { clear: both; }

/* Margins around images: */
/* Pictures on left, add margin on right */
DIV.csc-textpic-left DIV.csc-textpic-imagewrap .csc-textpic-image,	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,	DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap .csc-textpic-image {		display: inline; /* IE fix for double-margin bug */		margin-right: 10px;	}

/* Pictures on right, add margin on left */
DIV.csc-textpic-right DIV.csc-textpic-imagewrap .csc-textpic-image,	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap .csc-textpic-image,	DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap .csc-textpic-image {		display: inline; /* IE fix for double-margin bug */		margin-left: 10px;	}

/* Pictures centered, add margin on left */
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image {		display: inline; /* IE fix for double-margin bug */		margin-left: 10px;	}
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image IMG { margin: 0; vertical-align:bottom; }

/* Space below each image (also in-between rows) */
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 10px; }
DIV.csc-textpic-equalheight DIV.csc-textpic-imagerow { margin-bottom: 10px; display: block; }
DIV.csc-textpic DIV.csc-textpic-imagerow { clear: both; }
DIV.csc-textpic DIV.csc-textpic-single-image IMG { margin-bottom: 10px; }

/* IE7 hack for margin between image rows */
*+html DIV.csc-textpic DIV.csc-textpic-imagerow .csc-textpic-image { margin-bottom: 0; }
*+html DIV.csc-textpic DIV.csc-textpic-imagerow { margin-bottom: 10px; }

/* No margins around the whole image-block */
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0px !important; }
DIV.csc-textpic DIV.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0px !important; }

/* Add margin from image-block to text (in case of "Text w/ images") */
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap,	DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap {		margin-right: 10px !important;	}
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap,	DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap {		margin-left: 10px !important;	}

/* Positioning of images: */
/* Above */
DIV.csc-textpic-above DIV.csc-textpic-text { clear: both; }

/* Center (above or below) */
DIV.csc-textpic-center { text-align: center; /* IE-hack */ }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap { margin: 0 auto; }
DIV.csc-textpic-center DIV.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
DIV.csc-textpic-center DIV.csc-textpic-text { text-align: left; /* Remove IE-hack */ }

/* Right (above or below) */
DIV.csc-textpic-right DIV.csc-textpic-imagewrap { float: right; }
DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

/* Left (above or below) */	DIV.csc-textpic-left DIV.csc-textpic-imagewrap { float: left; }
DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

/* Left (in text) */
DIV.csc-textpic-intext-left DIV.csc-textpic-imagewrap { float: left; }

/* Right (in text) */
DIV.csc-textpic-intext-right DIV.csc-textpic-imagewrap { float: right; }

/* Right (in text, no wrap around) */
DIV.csc-textpic-intext-right-nowrap DIV.csc-textpic-imagewrap { float: right; clear: both; }

/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }

/* End hide from IE5/mac */
/* Left (in text, no wrap around) */
DIV.csc-textpic-intext-left-nowrap DIV.csc-textpic-imagewrap { float: left; clear: both; }

/* Hide from IE5-mac. Only IE-win sees this. \*/
* html DIV.csc-textpic-intext-left-nowrap .csc-textpic-text,	* html .csc-textpic-intext-left ol,	* html .csc-textpic-intext-left ul { height: 1%; }

/* End hide from IE5/mac */
DIV.csc-textpic DIV.csc-textpic-imagerow-last { margin-bottom: 0; }

/* Browser fixes: */
/* Fix for unordered and ordered list with image "In text, left" */
.csc-textpic-intext-left ol, .csc-textpic-intext-left ul {padding-left: 40px; overflow: auto; }